<link rel="stylesheet" href="../static/css/style.css">{% extends "base.html" %}
{% block content %}
<h1> {{ search }}</h1>
{% for video in user_video %}

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <a href="{{ video.link }}">
            <h5 class="card-title">{{ video.title }}</h5>
        </a>
    </div>
    <div class="card-body">
        <a href="{{ video.link }}">
            <img src="{{ video.img }}" class="card-img-top" alt="Card image cap">
        </a>
        <form action="/download" target="_blank">
            <button type="submit" class="btn btn-warning btn-form" name="value" value="MP3&{{ video.link }}">&nbsp;MP3</button>
            <button type="submit" class="btn btn-danger btn-form" name="value" value="MP4&{{ video.link }}">&nbsp;MP4</button>
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="link" value="{{ video.link }}">
            <button type="submit" class="bb btn btn-warning btn-form"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete
            </button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
